<div id="kweets" class="inner">
  <h3 id="kweettitle" class="title">Your timeline</h3>
  <!-- Kweets Go Here -->
  <!-- sample kweets-->
  <p *ngIf="!hasTimeline">You and your friends didn't kweet anything yet!. When tehy do they show up here :-)</p>
  <div *ngIf="hasTimeline">
    <ng-container *ngFor="let kweet of timeline" >
      <div class="kweet flexbox kweet-border wrap column">
        <a [routerLink]="['/profile/', kweet.owner.username]"><p class="kweet-profile-name">{{kweet.owner.username}}</p></a>
        <p class="kweet-message">{{kweet.message}}</p>
        <p class="kweet-postdate-text self_end">postdate: <span id="kweet-postdate">{{kweet.postDate}}</span></p>
      </div>
    </ng-container>
  </div>
</div>
