<div id="followers" class="flexbox wrap column border tile">
  <h3 class="title">Your followers</h3>
  <div id="followers-profiles">
    <p *ngIf="!hasFollowers">You do not have any followers. When you do they show up here :-)</p>
    <div *ngIf="hasFollowers" class="flexbox wrap evenly">
      <ng-container *ngFor="let follower of followers">
        <a [routerLink]="['/profile/', follower.username]" class="flexbox column wrap">
          <img src="{{follower.profilePictureUrl}}" >
          <span class="username" class="text-center">{{follower.username}}</span>
        </a>
      </ng-container>
    </div>
  </div>
</div>
