<div id="main-box">
  <div id="main">
    <h2>ProfielPagina</h2>
    <div id="profile">
      <div id="details" class="flexbox row wrap">
        <!--dynamically load profilepicture-->
        <img id="profilepicture" src="../../assets/img/logo.png" alt="Uw profielfoto">
        <div id="profile_details">
          <form>
            <div id="properties" class="flexbox column wrap">
              <label for="profilename">Profielnaam:<input id="profilename" type="text" placeholder="profielnaam"/></label>
              <label for="location">Locatie:<input id="location" type="text" placeholder="locatie"/></label>
              <label for="web">Web url:<input id="web" type="text" placeholder="weburl"/></label>
              <label for="bio">Bio:<input id="bio" type="text" placeholder="weburl"/></label>
            </div>
          </form>
        </div>
        <!-- TODO:add div for tweets and followers ETC-->


      </div>


    </div>
  </div>
</div>
