<div id="main-box">
  <div id="main">
    <h2>ProfielPagina</h2>
    <div id="profile" class="flexbox row wrap between">
      <div id="profile-left" class="flexbox column">
        <div id="details" class="flexbox row wrap border tile">
          <!--dynamically load profilepicture-->
          <img id="profilepicture" src="../../assets/img/logo.png" alt="Uw profielfoto">
          <form id="properties" class="flexbox column wrap center">
              <div><label for="profilename">Profielnaam:</label><input id="profilename" type="text" placeholder="profielnaam"/></div>
              <div><label for="location">Locatie:</label><input id="location" type="text" placeholder="locatie"/></div>
              <div><label for="web">Web url:</label><input id="web" type="text" placeholder="weburl"/></div>
              <div><label for="bio">Bio:</label><input id="bio" type="text" placeholder="weburl"/></div>
          </form>
        </div>

        <div id="kweets" class="border tile">
          <h3 id="kweettitle">Own kweets</h3>
          <!-- Kweets Go Here -->

        </div>
      </div>

      <div id="profile-right" class="flexbox column wrap">
        <div id="data" class="border tile">
          <p>Ammount of kweets:<a href="#">1241</a></p>
          <p>Followers:<a href="#" >43</a></p>
          <p>Following:<a href="#">83</a></p>
        </div>
        <div id="followers" class="flexbox wrap column border tile">
          <h3>Followers</h3>
          <div id="followers-profiles" class="flexbox wrap evenly">
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
            <a href="#"><img src="../../assets/img/android-icon-96x96.png" ><span class="username">Username</span></a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
