<div id="kweets" class="border tile">
  <h3 id="kweettitle" class="title">Own kweets</h3>
  <!-- Kweets Go Here -->
  <!-- sample kweets-->

  <ng-container *ngFor="let kweet of kweets" >
    <div class="kweet flexbox kweet-border wrap column">
      <a href="#"><p class="kweet-profile-name">{{kweet.owner.username}}</p></a>
      <p class="kweet-message">{{kweet.message}}</p>
      <p class="kweet-postdate-text self_end">postdate: <span id="kweet-postdate">{{kweet.postDate}}</span></p>
    </div>
  </ng-container>


</div>
