<div id="kweets" class="border tile">
  <h3 id="kweettitle" class="title">Own kweets</h3>
  <!-- Kweets Go Here -->
  <!-- sample kweets-->
  <div class="kweet flexbox kweet-border wrap column">
    <a href="#"><p class="kweet-profile-name">Hans</p></a>
    <p class="kweet-message">Dit is het eerste bericht van Hans</p>
    <p class="kweet-postdate-text self_end">postdate: <span id="kweet-postdate">08-04-2018</span></p>
  </div>
  <div class="kweet flexbox kweet-border wrap column">
    <a href="#"><p class="kweet-profile-name">Hans</p></a>
    <p class="kweet-message">Dit is het eerste bericht van Hans</p>
    <p class="kweet-postdate-text self_end">postdate: <span id="kweet-postdate">08-04-2018</span></p>
  </div>
  <div class="kweet flexbox kweet-border wrap column">
    <a href="#"><p class="kweet-profile-name">Hans</p></a>
    <p class="kweet-message">Dit is het eerste bericht van Hans</p>
    <p class="kweet-postdate-text self_end">postdate: <span id="kweet-postdate">08-04-2018</span></p>
  </div>
</div>
