#main-box
{
  width: 100%;
  box-shadow:inset 0px 4px 5px rgba(50, 50, 50, 0.75);
}
#main{
  padding-top:19px;
  width: 100%;
  justify-content: space-evenly;
  max-width: 1000px;
  margin:0 auto;
}
#main h2{
  margin-top: 0px;
}
