*{
  font-family: verdana, sans-serif;
}
body{
  margin: 0px;
  background-color: #fcfcfc;
  width: 100%;
  min-width:530px;
}
#main{
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
}
.middle{
  margin:0 auto;
}
.items-center{
  align-items: center;
}
.flexbox{
  display: flex;
}
.row{
  flex-direction:row;
}
.column{
  flex-direction:column;
}
.wrap{
  flex-wrap:wrap;
}
.evenly{
  justify-content: space-evenly;
}
.between {
  justify-content: space-between;
}
.center{
  justify-content: center;
}
.start{
  justify-content: flex-start;
}
.self_center
{
  align-self: center;
}
.self_end
{
  position:absolute;
  right: 5px;
  top: 5px;
}
.self_baseline {
  align-self: flex-end;
}

#header{
  width:100%;
  min-height: 200px;
  display:flex;
  background-color:grey;
  background-image:url("../../assets/img/header.jpg");
  background-size:cover;
  color: #fcfcfc;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#header img{
  height:150px;
  width:150px;
  margin: 5px 0 0 5px;
}
#header h1{
  vertical-align: middle;
  font-size: 65px;
}
#header p{
  margin-right: 15px;
}
a {
  color: #fcfcfc;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-decoration:none;
}
.top-right
{
  margin: 5px 5px 0 0;
  width:150px;
  text-align: right;
  padding: 3px 3px 0 0;

}

