<div id="details" class="flexbox row wrap border tile">
  <!--dynamically load profilepicture-->
  <img id="profilepicture" src="../../assets/img/logo.png" alt="Uw profielfoto">
  <form id="properties" class="flexbox column wrap center">
    <div><p>Naam:</p><p id="profilename">{{username}}</p></div>
    <div><p>Location:</p><p id="location">{{location}}</p></div>
    <div><p>Web-Url:</p><p id="web">{{web}}</p></div>
    <div><p>Bio:</p><p id="bio">{{bio}}</p></div>


      <!--<div><label for="profilename">Profielnaam:</label><input id="profilename" type="text" placeholder="{{username}}"/></div>-->
      <!--<div><label for="location">Locatie:</label><input id="location" type="text" placeholder="{{location}}"/></div>-->
      <!--<div><label for="web">Web url:</label><input id="web" type="text" placeholder="{{web}}"/></div>-->
      <!--<div><label for="bio">Bio:</label><input id="bio" type="text" placeholder="{{bio}}"/></div>-->
  </form>
</div>
