#properties,#properties > div {
  /*max-width: 350px;*/
  display: flex;
}
form{
  max-width: 303px;
}
#properties > *{
  margin:5px;
}
#profilepicture {
  width: 173px;
  height: 173px;
}
#properties > div > input{
  display:flex;
  flex:1;
}

#properties > div > label{
  display:flex;
  flex:1;
}
#properties > div > p:nth-of-type(1){
  display:flex;
  flex:1;
  margin: 5px;
}

#properties > div > *:nth-of-type(2), #properties > div > a{
  display:flex;
  flex:2;
  margin: 5px;
}
.tile
{
  margin: 5px 0 5px 0;
}


