<div id="details" class="flexbox row wrap border tile">
  <!--dynamically load profilepicture-->
  <img id="profilepicture" src="../../assets/img/logo.png" alt="Uw profielfoto">
  <form id="properties" class="flexbox column wrap center">
    <div><label for="profilename">Profielnaam:</label><input id="profilename" type="text" placeholder="profielnaam"/></div>
    <div><label for="location">Locatie:</label><input id="location" type="text" placeholder="locatie"/></div>
    <div><label for="web">Web url:</label><input id="web" type="text" placeholder="weburl"/></div>
    <div><label for="bio">Bio:</label><input id="bio" type="text" placeholder="weburl"/></div>
  </form>
</div>
